.formGroup {
  margin-bottom: 1rem;
}

.inlineInputs {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.smallInput {
  width: 60px !important;
}

.billInput {
  width: 100px !important;
}

